html {
  background-color: #333; }

body {
  margin-top: 10px; }

div.content {
  margin-left: calc(50vw - 750px / 2);
  display: inline-block;
  text-align: initial; }

/*-------------
 Loading Buttons
--------------*/
div.loading-buttons {
  position: fixed;
  width: 150px;
  margin-left: -170px; }
  div.loading-buttons button {
    background-color: lightgray;
    transition: all .15s;
    padding: 12px;
    border: none;
    color: white;
    font-weight: 100;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%; }
    div.loading-buttons button:hover {
      background-color: #c6c6c6; }
    div.loading-buttons button:focus {
      outline: none; }
    div.loading-buttons button.small {
      padding: 4px 8px;
      border-radius: 5px; }
  div.loading-buttons #load-web {
    background-color: steelblue;
    transition: all .15s; }
    div.loading-buttons #load-web:hover {
      background-color: #3f75a2; }
    div.loading-buttons #load-web:focus {
      outline: none; }
  div.loading-buttons #load-file {
    background-color: #4caf50;
    transition: all .15s; }
    div.loading-buttons #load-file:hover {
      background-color: #449d48; }
    div.loading-buttons #load-file:focus {
      outline: none; }
  div.loading-buttons #download {
    background-color: gray;
    transition: all .15s;
    margin-top: 40px; }
    div.loading-buttons #download:hover {
      background-color: #737373; }
    div.loading-buttons #download:focus {
      outline: none; }

div.control-buttons button {
  background-color: lightgray;
  transition: all .15s;
  padding: 12px;
  border: none;
  color: white;
  font-weight: 100;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
  margin: 10px 3px;
  margin-bottom: 0; }
  div.control-buttons button:hover {
    background-color: #c6c6c6; }
  div.control-buttons button:focus {
    outline: none; }
  div.control-buttons button.small {
    padding: 4px 8px;
    border-radius: 5px; }
div.control-buttons #save {
  background-color: dimgray;
  transition: all .15s;
  float: right; }
  div.control-buttons #save:hover {
    background-color: #5c5c5c; }
  div.control-buttons #save:focus {
    outline: none; }
div.control-buttons #add-new {
  background-color: steelblue;
  transition: all .15s;
  float: right; }
  div.control-buttons #add-new:hover {
    background-color: #3f75a2; }
  div.control-buttons #add-new:focus {
    outline: none; }
div.control-buttons #revert {
  background-color: darkgray;
  transition: all .15s;
  float: right; }
  div.control-buttons #revert:hover {
    background-color: #9c9c9c; }
  div.control-buttons #revert:focus {
    outline: none; }
div.control-buttons #close {
  background-color: darkgray;
  transition: all .15s; }
  div.control-buttons #close:hover {
    background-color: #9c9c9c; }
  div.control-buttons #close:focus {
    outline: none; }
div.control-buttons #remove {
  background-color: indianred;
  transition: all .15s;
  float: right;
  margin-right: 10px; }
  div.control-buttons #remove:hover {
    background-color: #c74848; }
  div.control-buttons #remove:focus {
    outline: none; }
div.control-buttons #clear {
  background-color: darkgray;
  transition: all .15s; }
  div.control-buttons #clear:hover {
    background-color: #9c9c9c; }
  div.control-buttons #clear:focus {
    outline: none; }

div.details {
  padding: 15px;
  margin-left: 360px;
  box-sizing: border-box;
  position: fixed;
  background-color: whitesmoke; }
  div.details fieldset {
    float: left;
    clear: both;
    width: 100%;
    min-height: 75px;
    box-sizing: border-box; }
    div.details fieldset div.field {
      float: left;
      clear: both;
      margin: 5px 0; }
      div.details fieldset div.field label {
        float: left;
        clear: both;
        width: 120px;
        min-width: 120px;
        line-height: 1.6em; }
      div.details fieldset div.field input {
        width: 400px;
        max-width: 400px;
        padding: 4px 4px;
        box-sizing: border-box;
        border: 1px solid lightgray; }
        div.details fieldset div.field input:focus {
          outline: 1px solid steelblue; }
        div.details fieldset div.field input.invalid {
          background-color: lightpink; }
      div.details fieldset div.field textarea {
        width: 400px;
        max-width: 400px;
        padding: 4px 4px;
        box-sizing: border-box;
        border: 1px solid lightgray;
        min-height: 80px; }
        div.details fieldset div.field textarea:focus {
          outline: 1px solid steelblue; }
        div.details fieldset div.field textarea.invalid {
          background-color: lightpink; }
      div.details fieldset div.field #p-pdf {
        width: 360px; }
        div.details fieldset div.field #p-pdf + span {
          margin-left: 5px;
          color: darkgray; }
      div.details fieldset div.field select:focus {
        outline: none; }
      div.details fieldset div.field select.invalid {
        outline: 3px solid lightpink; }
    div.details fieldset + fieldset {
      margin-top: 15px; }

div.list {
  width: 350px;
  white-space: nowrap;
  background-color: whitesmoke;
  float: left;
  height: 100%;
  min-height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 100px; }
  div.list ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  div.list li {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer; }
    div.list li.current {
      border-left: 8px solid steelblue;
      background-color: #d7e4ef; }
      div.list li.current:hover {
        background-color: #d7e4ef; }
    div.list li:focus {
      outline: none; }
    div.list li .title {
      margin-bottom: 10px; }
    div.list li .id {
      color: gray;
      font-weight: 100; }

/*# sourceMappingURL=style.css.map */
