html{
  background-color: #333;
  //overflow: hidden;
}
body{
  //text-align: center;
  margin-top: 10px;
}

$detail-input-width: 400px;
$list-width: 350px;
$content-width: $list-width + 400px;

div.content{
  margin-left: calc(50vw - #{$content-width} / 2);
  background-color: whitesmoke;
  display: inline-block;
  text-align: initial;
  min-height: 80vh;
}
div.list{
  width: $list-width;
  white-space: nowrap;
  float: left;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    &.current{
      border-left: 6px solid deepskyblue;
    }
    &:hover{
      background-color: #eaeaea;
    }
    .title{
      margin-bottom: 10px;
    }
    .id{
      color: gray;
      font-weight: 100;
    }
  }
}

div.loading-buttons{
  $width: 150px;
  $darken-ammount: 5;

  position: fixed;
  width: $width;
  margin-left: - $width - 20px;
  button{
    padding: 12px;
    width: 100%;
    border: none;
    color: white;
    font-weight: 100;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: all .15s;
    margin: 10px 0;
    &:hover{
      //background-color: #ea754a;
    }
    &:focus{
      outline: none;
    }
  }
  #load-web{
    $background: coral;
    background-color: $background;
    &:hover{
      background-color: darken($background, $darken-ammount);
    }
  }
  #load-file{
    $background: seagreen;
    background-color: $background;
    &:hover{
      background-color: darken($background, $darken-ammount);
    }
  }
  #download{
    margin-top: 40px;
    $background: gray;
    background-color: $background;
    &:hover{
      background-color: darken($background, $darken-ammount);
    }
  }
}

div.details{
  padding: 15px;
  margin-left: $list-width + 10px;
  //margin-top: 10px;
  //width: $detail-width;
  box-sizing: border-box;
  position: fixed;
  background-color: whitesmoke;
  //background-color: coral;
  fieldset{
    float: left;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    div.field {
      float: left;
      clear: both;
      margin: 5px 0;
      label{
        float: left;
        width: 120px;
        line-height: 1.6em;
      }
      input{
        width: $detail-input-width;
        &:focus {
          //outline: 2px solid deepskyblue;
        }
      }
      #p-pdf{
        width: $detail-input-width - 40px;
        & + span{
           margin-left: 5px;
           color: darkgray;
        }
      }
      select:focus{
        //outline: none;
      }
    }
    & + fieldset{
      margin-top: 15px;
    }
  }
}
