/*-------------
 Loading Buttons
--------------*/

// Mixins
@mixin smart-background($color) {
  $ammount: 5;
  background-color: $color;
  transition: all .15s;
  &:hover{
    background-color: darken($color, $ammount);
  }
  &:focus{
    outline: none;
  }
}

@mixin common-button{
  @include smart-background(lightgray);
  padding: 12px;
  border: none;
  color: white;
  font-weight: 100;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
  &.small{
    padding: 4px 8px;
    border-radius: 5px;
  }
}
//------

div.loading-buttons{
  $width: 150px;
  position: fixed;
  width: $width;
  margin-left: - $width - 20px;
  button{
    @include common-button;
    width: 100%;
  }
  #load-web{
    @include smart-background($blue);
  }
  #load-file{
    @include smart-background($green);
  }
  #download{
    @include smart-background(gray);
    margin-top: 40px;
  }
}

div.control-buttons{
  button{
    @include common-button;
    margin: 10px 3px;
    margin-bottom: 0;
    //@include smart-background(gray);
  }
  #save {
    @include smart-background(dimgray);
    float: right;
  }
  #add-new {
    @include smart-background($blue);
    float: right;
  }
  #revert{
    @include smart-background(darkgray);
    float: right;
  }
  #close{
    @include smart-background($red);
  }
  #clear{
    @include smart-background(darkgray);
  }
}
