/*-------------
 Loading Buttons
--------------*/

// Mixins
@mixin smart-background($color) {
  $ammount: 5;
  background-color: $color;
  &:hover{
    background-color: darken($color, $ammount);
  }
}
//------

div.loading-buttons{
  $width: 150px;
  position: fixed;
  width: $width;
  margin-left: - $width - 20px;
  button{
    padding: 12px;
    width: 100%;
    border: none;
    color: white;
    font-weight: 100;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: all .15s;
    margin: 10px 0;
    &:hover{
      //background-color: #ea754a;
    }
    &:focus{
      outline: none;
    }
  }
  #load-web{
    @include smart-background($blue);
  }
  #load-file{
    @include smart-background($green);
  }
  #download{
    @include smart-background(gray);
    margin-top: 40px;
  }
}
