//-=-=-=-=-=-=-=-
// Details
//-=-=-=-=-=-=-=-
$input-width: 400px;
$lable-width: 120px;
//
@mixin common-input {
  width: $input-width;
  max-width: $input-width;
  padding: 4px 4px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  &:focus {
    outline: 1px solid $blue;
  }
  &.invalid{
    background-color: lightpink;
  }
}
@mixin common-label {
  float: left;
  clear: both;
}
//

div.details{
  padding: 15px;
  margin-left: $list-width + 10px;
  //margin-top: 10px;
  //width: $detail-width;
  box-sizing: border-box;
  position: fixed;
  background-color: whitesmoke;
  //background-color: coral;
  fieldset{
    @include common-label;
    width: 100%;
    min-height: 75px;
    box-sizing: border-box;
    div.field {
      @include common-label;
      margin: 5px 0;
      label{
        @include common-label;
        width: $lable-width;
        min-width: $lable-width;
        line-height: 1.6em;
      }
      input{
        @include common-input;
      }
      textarea{
        @include common-input;
        min-height: 80px;
      }
      #p-pdf{
        width: $input-width - 40px;
        & + span{
           margin-left: 5px;
           color: darkgray;
        }
      }
      select:focus{
        outline: none;
      }
    }
    & + fieldset{
      margin-top: 15px;
    }
  }
}
