//-=-=-=-=-=-=-=-
// Details
//-=-=-=-=-=-=-=-
$input-width: 400px;
$lable-width: 120px;
//
div.details{
  padding: 15px;
  margin-left: $list-width + 10px;
  //margin-top: 10px;
  //width: $detail-width;
  box-sizing: border-box;
  position: fixed;
  background-color: whitesmoke;
  //background-color: coral;
  fieldset{
    float: left;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    div.field {
      float: left;
      clear: both;
      margin: 5px 0;
      label{
        float: left;
        width: $lable-width;
        min-width: $lable-width;
        line-height: 1.6em;
      }
      input{
        width: $input-width;
        &:focus {
          //outline: 2px solid deepskyblue;
        }
      }
      textarea{
        width: $input-width;
        max-width: $input-width;
        border-color: lightgray;
      }
      #p-pdf{
        width: $input-width - 40px;
        & + span{
           margin-left: 5px;
           color: darkgray;
        }
      }
      select:focus{
        //outline: none;
      }
    }
    & + fieldset{
      margin-top: 15px;
    }
  }
}
