
//-=-=-=-=-=-=-=-
// List
//-=-=-=-=-=-=-=-
div.list{
  width: $list-width;
  white-space: nowrap;
  background-color: whitesmoke;
  float: left;
  height: 100%;
  min-height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 100px;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    &.current{
      border-left: 8px solid $blue;
      $bg-c: lighten($blue, 40);
      background-color: $bg-c;
      &:hover{
        background-color: $bg-c;
      }
    }
    &:hover{
      background-color: #eaeaea;
    }
    &:focus{
      outline: none;
    }
    .title{
      margin-bottom: 10px;
    }
    .id{
      color: gray;
      font-weight: 100;
    }
  }
}
