html{
  background-color: #423f34;
  overflow: hidden;
}
.content{
  background-color: whitesmoke;
  width: 1000px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50vw - 500px);
  //padding: 15px;
}
.list{
  width: 300px;
  white-space: nowrap;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.list ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.list li{
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
